<a href="https://colab.research.google.com/github/sheena-k/sheena-k/blob/main/work1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ques 1

In [ ]:
pi=3.14
radius= float(input("enter the radius:"))
area_circle= pi*radius*radius
print("area of circle is:",area_circle)

enter the radius:3
area of circle is: 28.259999999999998

ques 2

In [ ]:
name= input("enter the name:")
rollno= input("enter the rollno:")
mark=input("enter the mark:")
print("name :",name)
print("rollno :",rollno)
print('mark:',mark)

enter the name:Anisha
enter the rollno:21
enter the mark:78
name : Anisha
rollno : 21
mark: 78

ques 3

In [ ]:
list1=[12,3,47,10]
print("Largest among the number is",max(list1))

Largest among the number is 47

ques 4

In [ ]:

for i in range(1,11):
  prevnum=i-1
  sum=prevnum+i
  print("current number",i,"+","previous num",prevnum,"sum is",prevnum+i)

current number 1 + previous num 0 sum is 1
current number 2 + previous num 1 sum is 3
current number 3 + previous num 2 sum is 5
current number 4 + previous num 3 sum is 7
current number 5 + previous num 4 sum is 9
current number 6 + previous num 5 sum is 11
current number 7 + previous num 6 sum is 13
current number 8 + previous num 7 sum is 15
current number 9 + previous num 8 sum is 17
current number 10 + previous num 9 sum is 19

ques 5

In [ ]:
num=(10,20,33,46,55)
count=0
for i in num:
 if(i%5==0):
    count+=1

    print(count)

1
2
3

ques 7

In [ ]:
list3=[10,40,30,70]
list3.reverse()
print(list3)

[70, 30, 40, 10]

ques 9

In [ ]:
a=34
b=12
c=17
if a>b and a>c :
  print("the largest is",a)
elif b>c and b>a:
 print ("the largest is",b)
else:
   print("the largest is",c)

the largest is 34

ques 8

In [ ]:
n=4
for i in range(1,n+1):
  print(" * "*i)

 *
 *  *
 *  *  *
 *  *  *  *

ques 6

In [ ]:
num=int(input("enter the number"))
if num>1:
   for i in range(2,int(num/2)+1):
    if num%i==0:
          print(num,"is not a prime number")
          break

    else:
           print(num,"is a prime number")
else:
          print(num,"num is not a prime number")

enter the number5
5 is a prime number

ques 10

In [ ]:
n=5
for i in range(n):
    for j in range(i):
        print('*',end="")
    print('')
for i in range(n,0,-1):
    for j in range(i):
        print("*",end="")
    print('')

*
**
***
****
*****
****
***
**
*